.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-top: 97.5px;

    span {
        &:first-child {
            font-weight: bold;
            font-size: 13px;
        }

        &:last-child{
            font-size: 12px;
        }
    }
}