@use "../../styles/variables.scss" as *;
@use "../login/login.scss";

.success-message {
  margin-bottom: 1rem;
  padding: 0.75rem;
  background-color: rgba(46, 204, 113, 0.1);
  color: #2ecc71;
  border-radius: 4px;
  text-align: center;
}
